.card-main {
    height: 420px;
    width: 320px;
    background-color: #171C2A;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center !important
}

.card-main::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: -50%;
    /* background-color: #EF5350; */
    transform: skewY(345deg);
    transition: 0.5s ease-in
}

.card-main:hover::before {
    top: -70%;
    transform: skewY(390deg)
}

.card-main .image {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.card-main .image img {
    max-width: 100%;
    transition: 0.5s ease-in
}

.card-main:hover .image img {
    width: 100%
}

.about-product {
    position: absolute;
    color: #fff;
    bottom: -50px !important;
    text-align: center;
    left: 20%;
    transition: 0.5s ease-in
}

.card-main:hover .about-product {
    bottom: 20px !important
}

.buy-now {
    color: #fff;
    background-color: #EAF80D !important;
    border-color: #EAF80D !important;
    width: 160px;
    margin-top: 20px;
    font-weight: bold;
}

.buy-now:focus {
    box-shadow: none
}

.buy-now:hover {
    color: #fff;
    background-color: #e84040 !important;
    border-color: #e84040 !important
}
